
body{
    width: 980px;
    margin: 0 auto;
}

.btn-search {
    background: #1E90FF;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #00BFFF;
    width: 50px;
  }

  .header-area{
      width: 994px;
  }

  .weather{
      color: black;
  }
#jumbo{
    margin-top: 5px;
}

.col-md-9{
    height: 240px;
}

#showResult{
    background: rgb(207, 6, 6);
    color: white;
    border-radius: 3px;
    font-weight: bolder;
}


.col-md-2{
    height: 170px;
    background: #1E90FF;
    color: white;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 40px;
    
}




#forecastHeader{
    margin-left: 256px;
}

#weatherForecast{
   
   margin-left: 245px;
}
button{
    width: 222px;
    background-color: #1E90FF;
    color: white;
}

.col-md-3{
    background: whitesmoke;
}

